body{font-family: 'Roboto', sans-serif;}

.cont 
    {width: 1200px;  margin: 0 auto; font-family: 'Roboto'; text-transform: uppercase; font-size: 14px;}

.logo
    {float: left;}   
.menu 
    {float: right; padding-top: 15px; } 
.main 
    {padding-left: 250px; padding-top: 25px; ;}
  
div.menu img[src*="location"]
     {padding-left: 10px; border-right: 1px; border-style: solid; padding-right: 20px; border-right-color: rgb(227, 227, 227);
    }   


div.menu img[src*="Line 4"]
         {vertical-align: middle; border-top-style: solid; border-color: black; border-width: 1px; padding: 5px 0px; border-bottom-style: solid; vertical-align: super; margin-left: 20px;
        }

div.menu span{border-radius: 30px; border-style: solid; border-color: #6a6a6a; border-width: 1px; padding: 11px 16px; vertical-align: super; 
    margin-right: 10px; font-weight: 500;
}
ul.main li:nth-child(2)
{color: red; font-weight: 600;

}


div.front {
     height: 1080px;  margin: 0 auto; background-repeat: no-repeat; background-size: cover;
}


div.front h1{
    color: white; padding-top: 242px; font-weight: 800; padding-left: 300px;
    padding-right: 300px;
    font-size: 128px;
    line-height: 105%;
    text-align: center;
    margin: 0 0;
    }

div.tur 
{
    margin-top: 134px;
    height: 713px;
    
}

div.tur h2 {font-weight: 500;
    font-size: 44px;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.moment
{font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 6px;
}

div.tur1 
{   
     margin-top: 22px; 
     height: 340px;

     
}

.tt
 { font-weight: 400;
    font-size: 52px;
    margin-left: -122px;
    font-family: 'Millanova', sans-serif;
    color: #D4D4D4;
    text-transform: none;

}

div.venecy 
{float: left;
     width: 256px; 
     height: 340px;
    margin-right: 58px; 
    background-repeat: no-repeat; 
    border-radius: 30px;

}

div.cappa 
{ float: left; 
     width: 256px;
      height: 340px;
       background-repeat: no-repeat;
    margin-right: 58px;
     border-radius: 30px;

}

div.rim 
{
    float: left;  width: 256px; 
    height: 340px; 
    background-repeat: no-repeat;
     margin-right: 58px;
      border-radius: 30px;

}

div.dubai 
{
   float: left;  width: 256px; 
   height: 340px; 
    background-repeat: no-repeat; 
   border-radius: 30px;
}

div.tur1 div.price {
    font-weight: 300;
  font-size: 14px;
  text-transform: none;
  
}

div.tur1 div.price span:first-of-type
{
   border-style: solid;
   border-width: 1px;
   border-radius: 30px;
   border-color: white;
   padding: 3px 10px;
}

div.tur1 div.price span:last-of-type
{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: white;
    padding: 3px 10px;
}
  
div.tur1 div.date 
{
    margin-top: 229px; 
    color: white;
}

div.tur1 div.date p:first-of-type
{
    font-weight: 500;
font-size: 14px;
text-transform: uppercase;
}
div.tur1 div.date p:nth-child(2)
{
    font-weight: 500;
font-size: 14px;
text-transform: none;
padding: 6px 0px;

}

.uzn
{
    font-weight: 300;
font-size: 14px;
text-transform: lowercase;
color: white;


}

div.tur1 div.info 
{
    margin-left: 20px;
    text-align: left;
    margin-top: 22px;
}
.cont2
{
    width: 1550px;
    margin: 0 auto;
    
}

.hotel
{
    text-align: center;
    background-color: #F8F8F8;
}
.hotels
{
    font-weight: 400;
    font-size: 42px;
    padding-top: 72px;
    font-family: 'Millanova', sans-serif;
    color: #D4D4D4;
    
}

.otl
{
    font-weight: 500;
    font-size: 44px;
    text-transform: uppercase; 
    margin-top: 20px;
}
.uyt
{
    font-weight: 300;
font-size: 24px;
text-transform: uppercase;
margin-top: 6px;
}
div.pop
{
    margin-top: 28px;
    height: 700px;
}
div.ritz 
{
    float: left;
    width: 460px;
    height: 340px;
    border-radius: 30px;
    margin-right: 32px;
    margin-top: 30px;
}

div.villa 
{
    float: left;
    width: 544px;
    height: 400px;
    border-radius: 30px;
    margin-right: 32px;
}

div.ikos
{
    float: left;
    width: 460px;
    height: 340px;
    border-radius: 30px;
    margin-top: 30px;
}

div.rate 
{
   padding-top: 30px; 
   text-align: right;
}
 div.rate  span
{
    font-weight: 400;
font-size: 65px;
text-transform: uppercase;

color: white;




}
div.rate  img
{
    margin-top: -8px;
    vertical-align:top;
    margin-right: 30px;
    
}
.mest
{
    text-align: left;
    margin-top: 163px;
    padding-left: 35px;
    
}
.mesto
{
    font-weight: 500;
font-size: 28px;
text-transform: uppercase;
color: white;
padding-bottom: 2px;
}
.ocenka
{
    font-family: 'Chandra', sans-serif;
}
.mest1
{
    text-align: left;
    margin-top: 223px;
    padding-left: 35px;
}
.valeria
{
    height: 605px;  
    background-repeat: no-repeat;
    padding-top: 452px;

    
    
}
.zayvka
{
    border-radius: 30px;
    width: 1120px;
    height: 133px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 20px;
    
    
}
.vopros
{
    float: left;
    font-weight: 400;
font-size: 24px;
text-transform: uppercase;
width: 236px;
margin:38px 79px 0px 49px;

}

.nomer
{
    float: left;
    font-weight: 300;
font-size: 16px;
width: 198px;
height: 58;
margin:38px 79px 38px 0px;



}
.tele
{
    float: left;
    width: 144px;
height: 49px;
font-weight: 400;
font-size: 12px;
color: #bdbdbd;
margin: 42px 79px 42px 0px;
}
.otpr
{
    float: left;
    font-weight: 500;
font-size: 16px;
text-transform: uppercase;
color: white;
border-radius: 30px;
 border-style: solid;
  border-color: #6a6a6a; 
  padding: 11px 29px;
  background-color: red;
  margin:46px 78px 0px 0px

}